.img-card{
    width: 200px;
    border-radius: 100px;
}
.container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 30px;
    justify-content: space-between; 
    margin-left: 200px;
    margin-right:200px;
}
